#app {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#menubar {
    padding-left: 16px;
}

#canvascontainer {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#fullscreen-open, #fullscreen-close {
    padding: 0 5px;
}

.dropdown-menu {
    max-height: 80vh;
    overflow-y: auto;
}